apiVersion: apps/v1
kind: Deployment
metadata:
  name: ufc-python-webscrapper
spec:
  selector:
    matchLabels:
      app: ufc-python-webscrapper
  replicas: 1
  template:
    metadata:
      labels:
        app: ufc-python-webscrapper
    spec:
      containers:
      - name: ufc-python-webscrapper
        image: edthegreat/ufc_python_webscrapper:38
        env:
        - name: DB_HOST
          value: "mysql"
        - name: DB_PORT
          value: "3306"
        - name: DB_USER
          value: "mysqluser"
        - name: DB_PASS
          value: "password"
        - name: DB_NAME
          value: "mysql01"
